<div class="mt-4">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        
    Add Book
      
</button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a new Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  [formGroup]="addBook"  (ngSubmit)="getBookData()" class="row g-3">
                <div class="col-md-12">
                  <label for="validationDefault01" class="form-label">Title</label>
                  <input type="text" class="form-control" id="validationDefault01"  formControlName="title" required>
               <span  class="error" *ngIf="title?.invalid && title?.touched  ">title field is required</span>
                </div>
                <div class="col-md-6">
                  <label for="validationDefault02" class="form-label">Price</label>
                  <input type="text"  class="form-control" id="validationDefault02" formControlName="price" required>
                  <span  class="error" *ngIf="price?.invalid && price?.touched  ">price field is required</span>
           
                </div>
                <div class="col-md-6">
                  <label for="validationDefaultUsername" class="form-label">Year of publish</label>
                  <div class="input-group">
                    
                    <input type="text"  class="form-control" id='validationDefaultUsername' formControlName="yearOfPublish"  aria-describedby="inputGroupPrepend2" >
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationDefault03" class="form-label">Gener</label>
                  <input type="text"  class="form-control" id='validationDefault03' formControlName="genre" >
                </div>
                <div class="col-md-6">
                  <label for="validationDefault04" class="form-label">Publisher</label>
                  <input type="text" class="form-control" id="validationDefault04" formControlName="publisher">
                  
                </div>
              
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
